/* work.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#main-container {
    background: linear-gradient(to right, #283E51, #4B79A1);
}

#left-side {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding: 20px;
    text-align: center;
    position: relative;
}

#left-side::before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px; /* Adjusted to ensure smooth overlap */
    bottom: 0;
    width: 100px; /* Adjusted for the desired white curve width */
    background: white;
    clip-path: circle(60% at left center);
}

#left-side h1 {
    font-size: 3em;
}

#left-side p {
    font-size: 1.2em;
}

#left-side .btn {
    margin-top: 20px;
}

#right-side {
    background: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

#employeeForm {
    background: white;
    padding: 20px;
    border-radius: 0 50% 50% 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #2575fc;
    border-color: #2575fc;
}

.btn-primary:hover {
    background-color: #1a5bb7;
    border-color: #1a5bb7;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

