/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#main-container {
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

#left-side {
    
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    z-index: 0;
}
#right-side{
    z-index: 1;
}

#left-side h1 {
    font-size: 3em;
}

#left-side p {
    font-size: 1.2em;
}

#left-side .btn {
    margin-top: 20px;
}

.bg-white {
    
    border-top-left-radius: 140px;
    border-bottom-left-radius: 140px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #068ee9;
    border-color: #2575fc;
}

.btn-primary:hover {
    background-color: #4972b3;
    border-color: #1a5bb7;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
.active {
    background-color: #007bff; /* Active color for primary button */
    border-color: #007bff;
    color: #070707;
}
#Login{
    margin-top: 20px;
    background-color: #fff;
    color: black;
}
.btn-check:checked + .btn-primary,
        .btn-check:checked + .btn-secondary {
            background-color: #0d6efd;
            color: #fff;
}

.toggle-btn-group .toggle-btn {
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 20px;
}
.toggle-btn-group .toggle-btn.active {
    background-color: #6f42c1; /* Violet background for active state */
    color: white;
}
.toggle-btn-group .toggle-btn:not(.active) {
    background-color: #6c757d; /* Gray background for inactive state */
    color: white;
}
.toggle-btn-group .toggle-btn:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.toggle-btn-group .toggle-btn:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.hidden {
    display: none;
}